.App {
  text-align: center;
}
#list
{
align-items: center;
display: flex;
flex-direction: row;
margin-left:40%;
}
button,li,select{
margin: 15px;
}
button{
  padding:5px;
  background-color: lightblue;
  border-radius: 5px;
}
input,select{
  padding:5px;
}
